.DS_Store
docs/docco.css
docs/*.html
**.swp
assets/js/require.js
assets/js/login_entry.js
assets/js/ui_sim_entry.js
built-assets/
node_modules/
bower_components/
certs/server.crt
certs/server.csr
certs/server.key
certs/server.key.org
uploaded-images/
*.sublime-project
*.sublime-workspace

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
pids
logs
results
npm-debug.log
node_modules
.env
.idea/

test/bin
!test/bin/security.h.enc
